:host{
  font-size: 1rem;
}

@media(min-width: 1416px){
  .grid_outer {
    width: 1160px;
  }
}

@media(max-width: 1416px){
  .grid_outer {
    width: 100%;
  }
}

.grid_outer{
  margin: auto;
}

#container {
  /*YAY! hidden scroolbars that distub user Xperience*/
  overflow: hidden;
  min-height:100%;
}

#noscroll {
      overflow-x: hidden;
      overflow-y: auto;
     }

.card {
  position: relative;
  height: 260px;
  width: 180px;
  /*font-size: 50px;*/
  margin: 8px;
  cursor: default;
}

.card:hover{
  cursor: pointer;
}

.card > .picture{
  
}

.card > .label{
  height: 48px;
  padding: 0 16px;
  font-size: 12px;
}

.view {
  font-size: 250px;
}

#footerYo{
  flex: 1 100%;
  align-self:flex-end;
}

/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg {
  background-color: blue;
}

/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: red;
}

#container1{
  color: #FFF;
}

.block {
  flex: 1;
}

.block > span{

  display: block;
}

.padder {
  padding: 1em;
}

.page{
  flex: 1 100%;
}

.page .block span{
  font-size: 1.5em;
}

.tile {
  position: relative;
}

.cat-name {
  height: 48px;
  padding: 0 16px;
}

.bottom-bar.wide, .dummy.wide {
  box-sizing: border-box;
  /*width: 512px;*/
  margin: 0 auto;
  /*padding: 0 24px;*/
}

.bottom-bar {
  position: relative;
  /*height: 64px;*/
  line-height: 64px;
  padding: 0 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 18px;
}