:host{
  font-size: 1rem;
}

/*style goes here*/
.footer{
  height: 64px;
  color: #FFF;
  width: 100%;
}
.nav{
  color: inherit;
  text-decoration: none;
  padding:10px;
  width: 0;
}
.hint{
  font-size:1em;
  color: rgba(255,255,255,0.55);
}
.label{
  font-size: 1.3em;
}
.fluid{
  flex-grow: 1;
}

/*previous*/
.previousLayout{
  padding-left: 40px;
}
.previousIcon{
  margin-right: 10px;
}
.previousText{
  text-align: left;
}

/*next*/
.nextLayout{
  padding-right: 40px;
}
.nextIcon{
  margin-left: 10px;
}
.nextText{
text-align: right;
}

.narrow {
  padding:0;
}