
:host{
  font-size: 1rem;
}
/*1160 + 256*/
@media(min-width: 1416px){
  .grid_outer {
    width: 1160px;
  }
}

@media(max-width: 1416px){
  .grid_outer {
    width: 100%;
  }
}

/*handle narrow style 256px navigation + 640px content*/
@media(max-width: 896px){
  .large{
    font-size: 1.3em!important;
  }

  .text_image img{
    float: none!important;
    width:100%!important;
    display: none;
  }

  .image_text img{
    float: none!important;
    width:100%!important;
    display: none;
  }

  .hmarger{
    margin-top: -10px!important;
  }

}

/*narrow: 640px*/

.grid_outer {
  margin: auto;
}

#container1{
  color: #FFF;
}

#container {
  /*YAY! hidden scroolbars that distub user Xperience*/
  overflow: hidden;
  min-height:100%;
  display: flex;
  /*flex-direction: column;*/
}

#noscroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.block {
  flex: 1;
}

.block > span{
  display: block;
}

.padder{
  padding: 2em 1em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hpadder{
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hmarger{
  margin-top: -2em;
}

.fit-image{
  margin:auto;
  display: block;
  -webkit-shape-outside: circle(50%);
  -ms-shape-outside: circle(50%);
  -moz-shape-outside: circle(50%);
  -o-shape-outside: circle(50%);
  shape-outside: circle(50%);
}

.text{
  font-size: 1.3em;
  flex: 1 100%;
}

.text_image{
  font-size: 1.3em;
  flex: 1 100%;
}

.text_image img{
  float: right;
}

.image_text{
  font-size: 1.3em;
  flex: 1 100%;
}

.image_text img{
  float: left;
}

.image{
  width:100%;
  padding: 0;
  flex: 1 100%;
}

.image img{
  width: 100%;
}

.large{
  font-size: 2em;
}

.card{
  background-color: #f9f9f9;
  color: #000;
  padding: 40px;
  width: 70%;
  margin: auto;
  border-bottom: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
}

#footerYo{
  width: 100%;
  align-self:flex-end;
}